*{
    box-sizing: border-box;
}
#layout{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 850px;
    background-color: darkgrey;
    border-radius: 30px;
}
.layout1{
  display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 20px;
}
.layout1a{
    background-color: brown;
    width: 50px;
    height: 50px;
}
.layout1b{
    background-color: brown;
    width: 150px;
    height: 50px;
    margin-left: 20px;
}
.img{
   width: 500px;
   height:350px;
   background-color: chocolate;
   margin-top: 20px;
   margin-left: 50px;
}
.layout2{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
    margin-left: 20px;
}
.content1{
  background-color: brown;
    width: 200px;
    height: 50px;
}
.content2{
  background-color: brown;
    width: 400px;
    height: 100px;
    margin-top: 20px;
}
.content3{
  background-color: brown;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.layout3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
.icon{
  background-color: brown;
    width: 60px;
    height: 60px;
}

